* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://scontent.fmnl4-7.fna.fbcdn.net/v/t39.30808-6/472755478_122182864700100636_4097508602449200649_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEOhEPijpslcpPUeP74bw8BOuRJfOv5RxU65El86_lHFVJECMc3_V2ftgXL0oEr9OEkhdVN-61L3VoRfnscgl27&_nc_ohc=S1wDfJOoYLEQ7kNvwERwF1M&_nc_oc=Admtx8FxRr5INI-NecqAp06EgAiyNnS5ENZ1mw76wPpcZCj15izZba66v1q8rR1L2rY&_nc_zt=23&_nc_ht=scontent.fmnl4-7.fna&_nc_gid=lJ1adOR0NbnI46jm877OtQ&oh=00_AfOQtC0UDEbAdy2nl4I-6P3Jc7nubVzTSIXz32O9SwhuWw&oe=6855D865);
    background-repeat: no-repeat;
    margin: 0;
}

.wrapper {
    width: 420px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    
}

.wrapper h1 {
    text-align: center;
    margin-bottom: 30px;
    
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    
}

.input-box input {
    width: 100%;
    height: 100%;
    background: #eee;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 0 45px 0 15px;
    font-size: 16px;
    color: #333;
    
}

.input-box i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    font-size: 20px;
    
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 15px 0 25px;
}

.remember-forgot a {
    color: #000000;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    color: rgba(134, 129, 129, 0.699);
    font-weight: 600;
    
}

.btn:hover {
    background: #ddd;
}

.register-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.register-link a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.register-link a:hover {
    text-decoration: underline;
}

.back-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    z-index: 10;
}

.back-icon:hover {
    color: #ccc;
}
